{
  presets: [
    '@babel/preset-flow',
    [
      '@babel/preset-env',
      {
        shippedProposals: true,
        useBuiltIns: 'usage',
        targets: {
          node: true,
          browsers: ['last 2 versions'],
        },
      },
    ],
  ],
  plugins: ['@babel/plugin-proposal-class-properties'],
}
